html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: normal 10px Verdana, Arial, sans-serif;
}

#plot {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#cursor {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  display: none;
}

#fullscreen {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

#fullscreen_exit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}

#viewReset {
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

#fullscreen:-webkit-full-screen {
  display: none;
}

/* Firefox syntax */
#fullscreen:-moz-full-screen {
  display: none;
}

/* IE/Edge syntax */
#fullscreen:-ms-fullscreen {
  display: none;
}

/* Standard syntax */
#fullscreen:fullscreen {
  display: none;
}

.mySideBar {
  background-color: rgb(231, 231, 231) !important;
  position: absolute;
  top: 0px;
  display: contents;
}

#panel {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background: rgb(231, 231, 231) !important;
  border-radius: 5px;
  overflow: auto;
  line-height: 20px;
  z-index: 1;
  font-size: 16px;
  transition: height 0.3s ease, width 0.3s ease;
}

.showHelp {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  float: right;
}

.showHelp:hover {
  color: rgb(0, 157, 255);
}

.about.showHelp {
  float: none;
}

#equations {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  font-size: 17px;
}

#errors {
  color: orangered;
}

.c.value {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

input[name=cInput] {
  width: 100%;
}

input[name=plotSaturation] {
  width: 100px;
}

#settingsWrapper .setting {
  padding-left: 10px;
}

.setting label {
  font-style: italic
}

.c input[type=text] {
  width: 40px;
}

.grid input[type=number] {
  width: 40px;

}

.popUpWrapper {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0.5, 0.5, 0.5, 0.25);
  display: none;
}

.popUp {
  background-color: #fefefe;
  margin: 45px auto;
  padding: 30px;
  border: 1px solid #888;
  width: 75%;
  border-radius: 8px;
  font-size: 20px;
}

.popUpClose {
  float: right;
  font-size: 40px;
  padding-right: 5px;
  cursor: pointer;
}

.stats {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

input[type=range] {
  width: 100%;
  margin: 8.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #f7f7f7;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -9px;
  width: 26px;
  height: 26px;
  background: #989898;
  border: 3px solid #000000;
  border-radius: 26px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  background: #f7f7f7;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #989898;
  border: 3px solid #000000;
  border-radius: 26px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #eaeaea;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #f7f7f7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #989898;
  border: 3px solid #000000;
  border-radius: 26px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #f7f7f7;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-family: inherit;
  font-size: 1.35rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}