html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#plot {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#cursor {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  display: none;
}

#panel {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px;
  padding: 8px;
  height: 300px;
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: auto;
  line-height: 20px;
  z-index: 1;
}

.showHelp {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  float: right;
}

.about.showHelp {
  float: none;
}

#equations {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

#errors {
  color: orangered;
}

.c.value {
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

input[name=cInput] {
  width: 100%;
}

input[name=plotSaturation] {
  width: 100px;
}

#settingsWrapper .setting {
  padding-left: 10px;
}

.setting label {
  font-style: italic
}

.c input[type=text] {
  width: 40px;
}

.grid input[type=number] {
  width: 40px;
}

.popUpWrapper {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0.5,0.5,0.5,0.25);
  display: none;
}

.popUp {
  background-color: #fefefe;
  margin: 35px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}

.popUpClose {
  float: right;
  font-size: 30px;
  padding-right: 5px;
  cursor: pointer;
}

.stats {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}